

<nav class="fixed top-0 w-full z-50 border-gray-200 bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
  <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../assets/images/aura_logo.png" class="h-24" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white"></span>
  </a>
  <div class="list-noshow flex-col hidden w-75 md:flex absolute bg-gray-800" id="mobile-menu-2">
    <ul class="flex flex-col md:font-medium bg-gray-800 border border-gray-100 rounded-lg absolute md:bottom-3 lg:bottom-3 xl:bottom-3
    md:flex-row md:space-x-8 lg:ml-0 md:mt-0 md:border-0 w-72 md:mr-8">
      <li class="md:p-0 lg:p-0 xl:p-0">
        <a routerLink="/home" class="hover:text-gray-200" id="text_menu">Home</a>
      </li>
      <li class="md:p-0 lg:p-0 xl:p-0">
        <a routerLink="/catalogue" class="hover:text-gray-200" id="text_menu">Catalogue</a>
      </li>
      <li *ngIf="!checkLogin()" class="md:p-0 lg:p-0 xl:p-0">
        <a href="/ownprofile" class="hover:text-gray-200" id="text_menu">Profile</a>
      </li>
      <li *ngIf="!checkLogin() && checkRole()" class="md:p-0 lg:p-0 xl:p-0">
        <a routerLink="/add-product" class="hover:text-gray-200" id="text_menu">Add&nbsp;product</a>
      </li>
      <li *ngIf="!checkRole()" class="md:p-0 lg:p-0 xl:p-0">
        <a routerLink="/user-catalogue" class="hover:text-gray-200" id="text_menu">User&nbsp;list</a>
      </li>
      <li *ngIf="checkLogin()" class="md:p-0 lg:p-0 xl:p-0" id="menu_option">
        <a routerLink="/login" class="hover:text-gray-200" id="text_menu">Login</a>
      </li>
      <li *ngIf="!checkLogin()" id="menu_option" class="md:p-0 lg:p-0 xl:p-0">
        <a routerLink="/home" class="hover:text-gray-200" id="text_menu" (click)="logout()">Logout</a>
      </li>
      <li id="menu_option" class="md:p-0 lg:p-0 xl:p-0" *ngIf="checkLogin()">
        <a routerLink="/register" class="hover:text-gray-200" id="text_menu">Register</a>
      </li>
    </ul>
  </div>
  <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img *ngIf="!checkLogin()" id="acc-btn" src="{{this.user_icon_url}}" alt="User Image" class="h-20 w-20 object-cover rounded-full p-1 bg-gray-400">
        <img *ngIf="checkLogin()" id="acc-btn" src="../assets/images/not-logged-icon.png" alt="User Image" class="h-20 w-20 rounded-full p-1 bg-gray-400">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden my-4 text-base list-none bg-gray-900 divide-y divide-gray-100 rounded-lg shadow bg-gray-700  divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
          <span *ngIf="this.user_info" class="block text-sm text-white">{{this.user_info.name}} {{this.user_info.lastname}}</span>
          <span *ngIf="!this.user_info" class="block text-sm text-gray-200">You aren't logged</span>
          <span *ngIf="this.user_info" class="block text-sm  text-gray-200 truncate text-gray-400">{{this.user_info.email}}</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li *ngIf="this.user_info">
            <a href="/ownprofile" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-100 hover:bg-gray-600 hover:text-white">Profile</a>
          </li>
          <li *ngIf="this.user_info">
            <a href="/edit-profile" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-100 hover:bg-gray-600 hover:text-white">Settings</a>
          </li>
          <li *ngIf="this.user_info">
            <a routerLink="/home" (click)="logout()" href="#" class="block px-4 py-2 text-sm text-red-500 hover:bg-gray-100 hover:bg-gray-600 text-gray-200 hover:text-white">Sign out</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
    <ul id="line-menu-2" class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-gray-900  bg-gray-800 md: bg-gray-800  border-gray-700">
      <li>
        <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md: text-blue-500" aria-current="page">Home</a>
      </li>
      <li>
        <a href="/catalogue" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  text-white md: hover:text-blue-500  hover:bg-gray-700  hover:text-white md: hover:bg-transparent  border-gray-700">Catalogue</a>
      </li>
      <li>
        <a routerLink="/add-product" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  text-white md: hover:text-blue-500  hover:bg-gray-700  hover:text-white md: hover:bg-transparent  border-gray-700">Add product</a>
      </li>
      <li *ngIf="!checkRole()">
        <a routerLink="/user-catalogue" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  text-white md: hover:text-blue-500  hover:bg-gray-700  hover:text-white md: hover:bg-transparent  border-gray-700">User&nbsp;list</a>
      </li>
      <li *ngIf="checkLogin()"  >
        <a routerLink="/login" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  text-white md: hover:text-blue-500  hover:bg-gray-700  hover:text-white md: hover:bg-transparent  border-gray-700" >Login</a>
      </li>
      <li *ngIf="checkLogin()">
        <a routerLink="/register" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  text-white md: hover:text-blue-500  hover:bg-gray-700  hover:text-white md: hover:bg-transparent  border-gray-700">Register</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="container-fluid mt-6">
  <router-outlet></router-outlet>
</div>

<footer id="foot" class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8 mt-5">
  <div class="border-t py-10">
    <div class="flex items-center justify-center">
      <a>
        <img class="h-14 w-14" src="../assets/images/aura_logo.png" alt="Aura logo">
      </a>
    </div>
    
      <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Aura project. All rights reserved.</p>
      <div class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
          <a>Contact: <i class="text-slate-400">aura.project.business@gmail.com</i></a>
      </div>
  </div>
</footer>