.container {
    padding: 40px;
}
#cart{
    height: 20%;
}

.card-container {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease, transform 0.5s ease; /* Transición de la sombra y transformación */
    transform: scale(0.96);
}

.card-container:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.65); /* Agrega una sombra más intensa al pasar el mouse sobre el elemento */
    transform: scale(1.01); /* Escala el elemento a 1.05 veces su tamaño original */
}

#wind-line {
    background-image: url('../../../assets/images/wind-line.png'); 
    background-size: cover; 
    background-position: center;
}

#wind-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#welcome-text {
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(3,10,26,0.85) 20%, rgba(5,18,40,0.8) 45%, rgba(4,15,35,0.85) 68%, rgba(0,0,0,1) 100%);
    padding: 30px;
    border-radius: 30px;
}

#welcome-img {
    transform: scale(0.85);
}