<div class="mt-32 flex flex-col items-center"> <!-- Agregar un margen superior para dejar espacio debajo del navbar y centrar los elementos horizontalmente -->
<h1 class="text-4xl p-4 text-center">User List</h1>
    <!-- Input de búsqueda de usuarios -->
    <input type="text"  [(ngModel)]="searchTermUsers" placeholder="Write the user to see it" class="mb-5 ml-5 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-80 p-2.5" />
  
    <!-- Centrar la tabla -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-1/2">
        <table class="w-full text-sm text-left text-gray-500">
            <thead>
                <tr class="bg-gray-100 border-b">
                    <th class="px-6 py-3 text-xl text-gray-900">Usuario</th>
                    <th class="px-6 py-3 text-xl text-gray-900">Correo Electrónico</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers | filterUsers: searchTermUsers" class="bg-white border-b hover:bg-gray-50">
                    <td [routerLink]="['/profile', user.id]" class="flex items-center px-6 py-4 whitespace-nowrap cursor-pointer">
                        <img class="w-10 h-10 rounded-full mr-4 object-cover" src="{{user.icon}}" alt="Imagen de {{ user.name }}">
                        <div>
                            <div class="text-base font-semibold hover:underline">{{ user.name }} {{user.lastname}}</div>
                        </div>  
                    </td>
                    <td>
                        <div class="font-normal text-gray-500">{{user.email}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>